body{
   background-color: black;
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container{
display: flex;
text-align: center;
    padding :20%;
    width: 50%;
    position:absolut;
}
a {
    display: flex;

    margin: 30px;
    color:rgb(0, 0, 0);
    background-color: rgb(253, 253, 253);
    padding: 20px;
    border-radius: 9px;
}
.about-me-css{
    text-align: center;
padding-left: 300px;   
padding-right: 300px;
}
.mer{
    text-align: center;
}











